*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: #434455;
  background-color: #ffffff;

}

:root {
  --primary-font: Roboto, sans-serif;
  --primary-color: #434455;
  --logo-color: #4d5ae5;
  --accent-color: #2e2f42;
  --hover-color: #404bbf;
  --white-color: #ffffff;
  --footer-color: #f4f4fd;
  --icon-color: #8e8f99;
  --green-color: #31d0aa;
  --modal-color: #fcfcfc;
  --btn-color: #e7e9fc;
  --white: #ffffff;
}

.link {
  text-decoration: none;
}

.list {
  display: flex;
  gap: 40px;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

button {
  cursor: pointer;
  font-family: inherit;
  color: currentColor;
}

input {
  font-family: inherit;
}

.container {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}

/* Header */

.header {
    padding: 16px;
}

.header-container {
  display: flex;
  align-items: center;
  padding: 24 0;
}

.header-naw {
  display: flex;
  align-items: center;
}
.header-list {
 display: none;
}
.logo-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  /* font-weight: 800; */
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
    margin-right: 120px;
}

.accent {
  color: var(--accent-color);
}



.header-item {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.header-link.curent {
  color: var(--hover-color);
  position: relative;
}

.curent::after {
  position: absolute;
  content: "";
  display: none;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: var(--hover-color);
  border-radius: 2px;
  margin-top: 20px;
}

.header-link {
  display: block;
  text-decoration: none;
  color: var(--accent-color);
  letter-spacing: 0.02em;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus {
  color: var(--hover-color);
}

.address {
  font-style: normal;
  margin-left: auto;
}

.address-list {
  display: none;
}

.address-item {
    font-weight: 400;
    font-size: 12px;
    line-height: 1,17;
    letter-spacing: 0.04em;
   color: var(--primary-color);
}

.address-link {
  color: var(--primary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: var(--hover-color);
  cubic-bezier: (0.4, 0, 0.2, 1);
}

.menu-open {

  border: none;
  background-color: transparent;
  width: 24px;
  height: 24px;
}
.menu-close {
  width: 24px;
  height: 24px;
  background-color: inherit;
  border: 1px solid var(--icon-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-bottom: 24px;
  
}
.menu-open-svg {
  fill: var(--accent-color);
}
.menu-close-svg {


}
.mob-menu {
width: 100%;
height: 100vh;
position: fixed;
top: 0;
left: 0;
z-index: 1;
background-color: var(--white);
padding: 24px 24px 40px 16px;
display: flex;
flex-direction: column;
justify-content: space-between;
opacity: 0;
visibility: hidden;
pointer-events: none;
}
.mob-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mob-list {
  list-style: none;
}

.mob-item:not(:last-child) {
  margin-bottom: 40px;
}
.mob-item:first-child .mob-link {
  color: var(--hover-color);
}

.mob-link {
  font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}
.wrap1 {

}
.wrap2 {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.mob-adress-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}


.mob-adress-item {
  font-weight: 500;
    font-size: 20px;
    line-height: 1,2;
    letter-spacing: 0.02em;
}
.mob-adress-item:last-child .mob-address-link {
  color: var(--primary-color);
}

.mob-address-link {
 
}
.header-list-icon {
  list-style: none;
    display: flex;
    gap: 40px;

}

.header-item-icon {
  width: 40px;
  height: 40px;
}

.header-link-icon {
    width: 100%;
      height: 100%;
      background-color: var(--logo-color);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Main */
.page {}

/* Section1 */
.section-one {
  background: var(--accent-color);
  padding: 72px 0;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../images/main-pages/hero-tel.jpg);
  max-width: 320px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}
@media screen and (min-resolution: 2x), (-webkit-min-device-pixel-ratio: 2x) {
  .section-one {
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/main-pages/hero-tel-2x.jpg);}
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-color);
  max-width: 216px;
  margin: 0 auto;
  margin-bottom: 72px;
}

.button {
  font-family: Roboto, sans-serif;
  background: var(--logo-color);
  font-weight: 500;
  color: var(--white-color);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background: var(--hover-color);
  cubic-bezier: (0.4, 0, 0.2, 1);
}

/* Section2 */

.section-two {
  padding: 96px 0;
}

.flex-section-two {
  display: flex;
  gap: 24px;
}

.page-list {
 
  gap: 72px;
  flex-wrap: wrap;
}

.page-item {
  width: 100%;
  border-radius: 0px 0px 4px 4px;
}

.page-item-icon {}

.div-icon {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: var(--footer-color);
  width: 264px;
  height: 112px;
  border-radius: 4px;
  margin-bottom: 8px;
}

.page-subtitle {

  font-style: normal;
text-align: center;
  font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-bottom: 8px;
}

.page-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--primary-color);
}

/* Section3 */

.subtitle {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--accent-color);
  margin-bottom: 72px;
}

.page-subtitle-three {
  font-style: normal;
  j font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  letter-spacing: 0.02em;
  text-align: center;
  color: var(--accent-color);
  margin-bottom: 8px;
}
.section-three {
background-color: var(--footer-color);
}
.section-three-wrap {
  padding: 96px 28px;
}

.team-list {
  display: flex;
  gap: 72px;
  flex-wrap: wrap;
}

.team-item {
 width: 100%;
  background-color: var(--white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-img {
  max-width: 100%;
}

.section-three-item {
  width: 40px;
  height: 40px;
}

.team-list-icon {
  list-style: none;
  display: flex;
  gap: 24px;
  justify-content: center;
}

.team-item-icon {
  width: 100%;
  height: 100%;
  background-color: var(--logo-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-item-icon:hover,
.team-item-icon:focus {
  background-color: var(--hover-color);
}

.section-three-div {
  padding: 32px 16px;
}

.team-icon {
  fill: var(--footer-color);
}

.page-text-three {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 8px;
  letter-spacing: 0.02em;

  color: var(--primary-color);
  text-align: center;
}


/* Section4 */
.section-portfolio {
    padding-top: 96px;
      padding-bottom: 77px;
}



.button-item:hover,
.button-item:focus {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  cubic-bezier: (0.4, 0, 0.2, 1);
}



.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 48px;
}

.portfolio-item {
  position: relative;
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  cubic-bezier: (0.4, 0, 0.2, 1);
}

.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-link:hover .overlay-text,
.portfolio-link:focus .overlay-text {
  transform: translateY(0%);
}

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-color);

  letter-spacing: 0.02em;
}




.subtitle-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}



.box {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-color);

  top: 0;
  padding: 40px 32px;
  background-color: var(--logo-color);
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);

  background-color: var(--logo-color);
}

/* Footer */
.footer {
  background-color: var(--accent-color);
  padding: 96px 0;
}

.footer-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
  display: inline-block;
  margin-bottom: 17.5px;
 
}

.footer-studio {
  color: var(--footer-color);
}

.footer-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  max-width: 264px;
  text-align: left;
}

.footer-text-social {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
  text-align: center;
}

.footer-flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 72px;
  align-items: center;
  /* + */
  padding: 115px 24px 77px 8px;
}

.gap {
  gap: 16px;
}

.footer-icon {
  width: 100%;
  height: 100%;
  background-color: var(--logo-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon:hover,
.footer-icon:focus {
  background-color: var(--green-color);
}

.footer-logo {
 
  text-align: center;
}

.footer-div {
 
}

.link-icon {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 40px;
  height: 40px;
}

.icon-hover:hover,
.icon-hover:focus {
  background-color: var(--green-color);
}

.footer-div-form {
  /* + */
text-align: center;
}


.footer-label {
    color: var(--white-color);
      font-weight: 500;
      line-height: 1.5;
      letter-spacing: 0.02em;
      margin-bottom: 16px;
}


.wrapper {
  display: flex;
  gap: 24px;
}

.footer-form {
  display: flex;
  /* gap: 24px; */
  gap: 16px;
  flex-direction: column;
}

.footer-input {
  width: 288px;
  height: 40px;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid var(--white-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  /* + */
  margin-bottom: 16px;
}

.footer-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--white);
}

.footer-button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;
  color: var(--white-color);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--logo-color);
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* + */
margin: 0 auto;}
  
  .footer-button:hover,
  .footer-button:focus {
    background: var(--hover-color);
    cubic-bezier: (0.4, 0, 0.2, 1);
  }

.footer-svg {
  fill: var(--white-color);
  margin-left: 16px;
}


/* MODAL STYLES */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 288px;
  border-radius: 4px;
  background-color: var(--modal-color);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  min-height: 584px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 72px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 24px;
}

.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-color: var(--btn-color);
  border-radius: 50%;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--btn-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--hover-color);
  border: none;
  fill: #ffffff;
}

.modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  color: var(--accent-color);
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.modal-form {
  width: 256px;
  min-height: 336px;
}


.modal-field:focus {
  border-color: var(--logo-color);
}

.modal-field:focus-within .modal-svg {
  fill: var(--logo-color);
}

.form-label {
  color: var(--icon-color);
  font-size: 12px;
  display: block;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.form-input {
  background-color: transparent;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  font-size: 12px;
  color: var(--accent-color, rgba(46, 47, 66, 0.4));
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: var(--logo-color);
}

.input-wrap {
  position: relative;
}

.modal-svg {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.modal-field {
  margin-bottom: 8px;
}

.modal-field-comment {
  margin-bottom: 16px;
}

.modal-field-checkbox {
  margin-bottom: 24px;
}

.modal-comment {
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border-color: transparent;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  font-size: 12px;
  padding: 8px 16px;
  resize: none;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment:focus {
  border-color: var(--logo-color);
}

.icon-click {
 
}

.visually-hidden {
  position:absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap
  border: 0;
}


.input-check:checked + .form-label .span-check {
  fill: var(--icon-color);
}
.modal-check-text {
  color: var(--icon-color);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-check-text span {
  width: 16px;
  height: 16px;
  stroke-width: 1px;
}

.modal-check-link {
  color: var(--logo-color);
}

.icon-check {
  fill: var(--hover-color);
  stroke-width: 1px;
  stroke: var(--hover-color);
}

.button-form {
  min-width: 169px;
  height: 56px;
  color: var(--white-color);
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  background-color: var(--logo-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: block;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.span-check {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}


@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
    .header {
      border-bottom: 1px solid #e7e9fc;
      box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 2px 1px 0px rgba(46, 47, 66, 0.08);
      padding: 0;
    }

.menu-open {
  display: none;
}
.header-list {
display: flex;
  gap: 40px;
  list-style: none;
}
.curent::after {
  display: block;
}

.address-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
  .section-one{
    max-width: 768px;
    padding: 112px 0;
      background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
          url(../images/main-pages/hero-tab.jpg);
  }
    @media screen and (min-resolution: 2x),
    (-webkit-min-device-pixel-ratio: 2x) {
      .section-one {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
          url(../images/main-pages/hero-tab-2x.jpg);
      }
    }
  .title {
    font-size: 56px;
      line-height: 1.07;
      max-width: 496px;
      margin-bottom: 36px;
  }
    .page-subtitle {
      text-align: left;
    }
.section-three-wrap {
    padding-top: 96px;
    padding-bottom: 96px;
}
  .page-list {
    gap: 72px 24px;
  }

  .page-item {
    width: calc((100% - 24px) / 2);

  }

  .team-list {
     gap: 64px 24px;
        }
   .team-item {
     width: calc((100% - 24px) / 2);
        }
        .section-three-item {
          flex-shrink: 0;
        }

.portfolio-list {
  flex-direction: row;
  column-gap: 24px;
  row-gap: 72px;

}
.portfolio-item {
  width: calc((100% - 24px) / 2);
}
/* Modal window */
.modal {
width: 408px;
padding-left: 24px;
padding-right: 24px;
}
.modal-form {
  width: 360px;
}
/* footer */
.footer {

}
.footer-flex {
flex-direction: row;
column-gap: 24px;
row-gap: 88px;
align-items: start;
padding: 80px 164px 96px 108px;
}
.footer-logo {

  text-align: left;
}
.footer-text-social {
  text-align: start;
}
.footer-div-form {
  display: flex;
  gap: 24px;
  align-items:flex-end;
  text-align: left;
}
.footer-input {
  width: 264px;
  margin-bottom: 0;
}
.form-wrap {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
@media screen and (min-width: 768px) and (max-width: 1158px) {
 .section-three .container {
    max-width: 552px;
  }
}
}
@media screen and (min-width: 1158px) {

  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
  .header {
    padding: 0;
  }
  .logo-link {
    margin-right: 76px;
  }
.address-list {

    flex-direction: row;
    align-items: center;
    gap: 40px;
}
.address-item {
  font-size: 16px;
  line-height: 1,5;
  letter-spacing: 0.02em;
}

 .section-one {
   max-width: 1440px;
   padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)),
        url(../images/main-pages/office.jpg);
 }
 @media screen and (min-resolution: 2x),
 (-webkit-min-device-pixel-ratio: 2x) {
   .section-one {
     background-image: linear-gradient(rgba(46, 47, 66, 0.7),
         rgba(46, 47, 66, 0.7)),
       url(../images/main-pages/office-2x.jpg);
   }
 }

 .title {
   margin-bottom: 24px;
 }
  .section-two {
    padding: 120px 0;
  }
 .page-subtitle {
   text-align: left;
  font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
 }
  .page-list {
    gap: 24px;
  }

  .page-item {
    width: calc((100% - 72px) / 4);
  }

  .div-icon {
    display: flex;
  }
  .section-three-wrap {
    padding: 120px 0;
  }
  .team-list {
    gap: 24px;
   
  }
  .team-item {
   width: calc((100% - 72px) / 4);
   max-width: 264px;
  }
    .section-three-div {
      padding: 32px 0;
    }
.portfolio-list {
  flex-direction: row;
  column-gap: 24px;
  row-gap: 48px;

}

.portfolio-item {
  width: calc((100% - 48px) / 3);
}
.section-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
/* footer */
.footer {
  padding: 100px 0;
}
.footer {
font-weight: 800; 
margin-bottom: 16px;
}
.footer-flex {
  align-items: baseline;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0;
}
.footer-logo {
  margin-right: 120px;
}
.footer-div {
  margin-right: 80px;
}
}
